Package: ni-fpga-addon-veristand-{veristand_version}-support
Version: {nipkg_version}
Architecture: windows_x64
Maintainer: National Instruments <support@ni.com>
XB-Plugin: file
Description:  This add-on allows a user to pull an existing FPGA bitfile into NI VeriStand with little or no modification.
XB-Eula: eula-ni-standard
Priority: standard
Homepage: http://www.ni.com
XB-LanguageSupport: en
XB-UserVisible: yes
Section: Add-Ons
XB-DisplayVersion: {quarterly_display_version}
XB-DisplayName: NI FPGA Addon for VeriStand {veristand_version}
Depends: ni-veristand-{veristand_version} (>= {labview_short_version}.0.0)
Description-zh-CN: 该附加工具允许用户将现有FPGA位文件提取到NI VeriStand中，无需进行修改或进行少量修改
XB-DisplayName-zh-CN: NI FPGA Addon for VeriStand {veristand_version}
Description-de: Das Zusatzpaket ermöglicht es dem Benutzer, eine vorhandene FPGA-Bitdatei mit nur wenigen oder keinen Änderungen in NI VeriStand zu verwenden
XB-DisplayName-de: NI-FPGA-Zusatzpaket für VeriStand {veristand_version}
Description-fr: Ce complément logiciel permet à un utilisateur d&apos;extraire un fichier bitfile FPGA existant dans NI VeriStand avec peu ou pas de modification
XB-DisplayName-fr: NI FPGA Addon for VeriStand {veristand_version}
Description-ja: このアドオンを使用すると、既存のFPGAビットファイルをほとんど、またはまったく変更せずにNI VeriStandに取り込むことができます。
XB-DisplayName-ja: NI FPGAアドオン - VeriStand {veristand_version}用
Description-ko: 이 애드온을 사용하면 기존 FPGA 비트 파일을 거의 또는 전혀 수정하지 않고 NI VeriStand로 가져올 수 있습니다.
XB-DisplayName-ko: NI FPGA Addon - VeriStand {veristand_version} 지원
