<?xml version ="1.0"?>
<configuration>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
		<!-- ================================= GAC files ==================================== -->
		  <dependentAssembly>
			<assemblyIdentity name="NationalInstruments.VeriStand.SystemDefinitionAPI" publicKeyToken="a6d690c380daa308" culture="Neutral" />
			<!-- Assembly versions can be redirected in application, 
			  publisher policy, or machine configuration files. -->
			<bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="7.0.0.0" />
		  </dependentAssembly>
	<!-- ================================= Local files ==================================== -->
		</assemblyBinding>
	</runtime>
</configuration>
